// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
* Set up a decent box model on the root element
*/
html {
    box-sizing: border-box;
}

/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*, *::before, *::after {
    box-sizing: inherit;
} 

::-moz-selection {
    background: $brandOrange; /* #f2c2c9;*/
    color: $white; /* #a4003a;*/
    text-shadow: none;
}

::selection {
    background: $brandOrange; /* #f2c2c9;*/
    color: $white; /* #a4003a;*/
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $whiteGray;
    margin: 1em 0;
    padding: 0;
}

.centered {
    text-align: center
}

.mt {
    margin-top: 80px;
}

@media only screen and (max-width: 767px) {
    .mt-40 {
        margin-top: 40px;
    }
}

.mb {
    margin-bottom: 80px;
}

/* ==========================================================================
General styles
========================================================================== */

body {
    @extend %montserrat-reg;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/* ============== Back to Top ====================== */
.cl-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    /*replace image*/
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(255, 102, 0, 0.8) url(../img/top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cl-top.cl-is-visible,
.cl-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cl-top.cl-is-visible {
    visibility: visible;
    opacity: 1;
}

.cl-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cl-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    #headerwrap {
        padding-top: 170px;
    }
}

@media only screen and (min-width: 768px) {
    .cl-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cl-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

