// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#footerwrap {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: $darkestGray;
    
    p, a {
        color: $offWhite;
        margin-left: 10px;
        transition: color 0.2s ease-out, color 0.2s ease-out;
    }
    
    a:hover {
        color: $brandOrange;
        text-decoration: none;
        transition: color 0.2s ease-out, color 0.2s ease-out;
    }
    
    #icon-credit {
        color: #6f6f6f;
        font-size: 0.5em;
        
        a {
            margin-left: 0;
            color: #6f6f6f;
        }
    }
}