// -----------------------------------------------------------------------------
// This file contains gallery/portfolio section styles.
// -----------------------------------------------------------------------------

/* Gallery */
.gallery {
    margin-top: 30px;
    opacity: 1.0;
    transition: opacity 0.3s ease-out, color 0.3s ease-out;
    
    h3 {
        /*display:none;*/
        opacity: 0;
        position: absolute;
        bottom: 40%;
        left: 40%;
        font-size: 2em;
        transition: opacity 0.3s ease-out;
    }
    
    a:hover {
        opacity: 0.3;
        transition: opacity 0.3s ease-in, color 0.3s ease-in;
    }
    
    &:hover h3 {
        /*display:block;*/
        opacity: 1.0;
        transition: opacity 0.3s ease-in;
    }
}

/* ========================== Portfolio ========================== */
.img-responsive {
    border: 3px solid #efefef;
}