// -----------------------------------------------------------------------------
// This file contains skills section styles.
// -----------------------------------------------------------------------------

/* ========================== Skills Styles ====================== */
.skillbar {
    height: 45px;
    position: relative;
    background: rgba(108, 122, 137, 1);
    margin: 20px 0;
}

.skill-area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    text-shadow: none;
    color: #fff;
}

.percent-text {
    z-index: 3;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-size: 1em;
}

/* HTML/CSS */
#skill-html {
    width: 90%;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    animation: Animate-HTML 4s;
    height: 45px;
    position: absolute;
    background-color: #F9690E;
}

/* JS-jQuery */
#skill-js {
    width: 70%;
    -webkit-animation: Animate-JS 5s;
    -moz-animation: Animate-JS 5s;
    -o-animation: Animate-JS 5s;
    animation: Animate-JS 5s;
    height: 45px;
    position: absolute;
    background-color: #446CB3;
}

/* Responsivenes */
#skill-res {
    width: 75%;
    -webkit-animation: Animate-RES 3s;
    -moz-animation: Animate-RES 3s;
    -o-animation: Animate-RES 3s;
    animation: Animate-RES 3s;
    height: 45px;
    position: absolute;
    background-color: #66CC99;
}

/* WordPress */
#skill-wp {
    width: 65%;
    -webkit-animation: Animate-WP 4.5s;
    -moz-animation: Animate-WP 4.5s;
    -o-animation: Animate-WP 4.5s;
    animation: Animate-WP 4.5s;
    height: 45px;
    position: absolute;
    background-color: #85c440;
}

/* Git/Version Control */
#skill-vc {
    width: 70%;
    -webkit-animation: Animate-VC 2s;
    -moz-animation: Animate-VC 2s;
    -o-animation: Animate-VC 2s;
    animation: Animate-VC 2s;
    height: 45px;
    position: absolute;
    background-color: #2796db;
}

/* Angular */
#skill-ng {
    width: 40%;
    -webkit-animation: Animate-NG 3.5s;
    -moz-animation: Animate-NG 3.5s;
    -o-animation: Animate-NG 3.5s;
    animation: Animate-NG 3.5s;
    height: 45px;
    position: absolute;
    background-color: #E50000;
}

/* SEO */
#skill-seo {
    width: 90%;
    -webkit-animation: Animate-SEO 1.5s;
    -moz-animation: Animate-SEO 1.5s;
    -o-animation: Animate-SEO 1.5s;
    animation: Animate-SEO 1.5s;
    height: 45px;
    position: absolute;
    background-color: #0be51c;
}

/* Photography */
#skill-ph {
    width: 100%;
    -webkit-animation: Animate-PHOTO 1s;
    -moz-animation: Animate-PHOTO 1s;
    -o-animation: Animate-PHOTO 1s;
    animation: Animate-PHOTO 1s;
    height: 45px;
    position: absolute;
    background-color: #F0E70F;
}

/* Agile Development */
#skill-agile {
    width: 40%;
    -webkit-animation: Animate-AGILE 2s;
    -moz-animation: Animate-AGILE 2s;
    -o-animation: Animate-AGILE 2s;
    animation: Animate-AGILE 2s;
    height: 45px;
    position: absolute;
    background-color: #db3a27;
}

/* Digital Publishing */
#skill-digpub {
    width: 50%;
    -webkit-animation: Animate-DIGPUB 4s;
    -moz-animation: Animate-DIGPUB 4s;
    -o-animation: Animate-DIGPUB 4s;
    animation: Animate-DIGPUB 4s;
    height: 45px;
    position: absolute;
    background-color: #66CC99;
}

/* Learning */
#skill-learn {
    width: 100%;
    -webkit-animation: Animate-LEARN 1s;
    -moz-animation: Animate-LEARN 1s;
    -o-animation: Animate-LEARN 1s;
    animation: Animate-LEARN 1s;
    height: 45px;
    position: absolute;
    background-color: #0076ff;
}

