// -----------------------------------------------------------------------------
// This file contains social section styles.
// -----------------------------------------------------------------------------

#social {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $offWhite;
    
    i {
        font-size: 40px;
        padding: 10px 0;
        color: $darkGray;
        transition: color 0.2s ease-out, color 0.2s ease-out;
        
        &:hover {
            color: $brandOrange; /*#1abc9c*/
            transition: color 0.2s ease-in, color 0.2s ease-in;
        }
    }
}

.socialicon {
    border: 1px solid $darkerGray;
}