/* .about {
    background-image: url(./images/ehud-neuhaus-191867-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: bottom;
    padding: 25px;
  } */

  .about-section .ui.huge.header {
    font-size: 3rem;
    margin-bottom: 0;
  }

  /* .about-intro {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: white;
    font-size: 40px;
  }

  .about-intro strong {
    font-weight: 900;
    color: white;
  }

  .about-item a {
    color: white;
  }

  .about-item {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
    padding: 10px 40px;
  }

  .about-item strong {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: white;
  }

  .about span {
    text-decoration: underline;
  }

  @media all and (max-width: 770px) {
    .about {
        background-position: initial;
        background-size: 1615px;
      }
  } */