/*
 * Author: CLINT LOSEE
 * URL: http://clintlosee.github.io
 *
 * Project Name: Portfolio
 * Version: 1.7
 * Date: 12-17-2015
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);


::-moz-selection {
    background: #ff6600; /* #f2c2c9;*/
    color: #ffffff; /* #a4003a;*/
    text-shadow: none;
}

::selection {
    background: #ff6600; /* #f2c2c9;*/
    color: #ffffff; /* #a4003a;*/
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
    text-align: center
}

.mt {
    margin-top: 80px;
}

@media only screen and (max-width: 767px) {
    .mt-40 {
        margin-top: 40px;
    }
}

.mb {
    margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #4a4a4a;
}

a {
    color: #FF6600;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
a:hover {
    color: #1c09b2;
    text-decoration: none;
}

.navbar-brand, .paradeiser-brand {
    font-weight: 700 !important;
    font-size: 1.3em;
}

.navbar-brand span, .paradeiser-brand span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.navbar-default .navbar-brand, .paradeiser-brand {
    color: #ff6600 !important; /*#1abc9c;*/
    -webkit-transition: color 0.2s ease-out, color 0.2s ease-out;
            transition: color 0.2s ease-out, color 0.2s ease-out;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ff6600; /*#1abc9c;*/
    background-color: transparent;
    border-bottom: 2px solid #ff6600; /*#1abc9c*/
    -webkit-transition: color 0.2s ease-in, color 0.2s ease-in;
            transition: color 0.2s ease-in, color 0.2s ease-in;
}

.navbar-default a:hover {
    color: #888888 !important;
    -webkit-transition: color 0.2s ease-in, color 0.2s ease-in;
            transition: color 0.2s ease-in, color 0.2s ease-in;
}

.navbar-default .navbar-nav > li > a {
    color: #ff6600; /*#1abc9c;*/
}

/* ======================= Button Styles ====================== */
.button-basic,
.button-basic:visited {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #FFF;
    border: 1px solid #FFF;
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
            transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.button-thick,
.button-thick:visited {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 8px;
    color: #FFF;
    border: 3px solid #FFF;
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
            transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.button-border,
.button-border:visited {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #FFF;
    border: 2px solid #FFF;
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out;
            transition: border-color 0.3s ease-out, color 0.3s ease-out;
}

.button-border-black,
.button-border-black:visited {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #333;
    border: 2px solid #333;
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out;
            transition: border-color 0.3s ease-out, color 0.3s ease-out;
}

.button-size,
.button-size:visited {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #FFF;
    border: 2px solid #FFF;
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-transition: width 0.3s ease-out, height 0.3s ease-out, line-height 0.3s ease-out;
            transition: width 0.3s ease-out, height 0.3s ease-out, line-height 0.3s ease-out;
}

.button-basic:hover,
.button-basic:active,
.button-thick:hover,
.button-thick:active {
    background-color: #FFF;
    color: #000;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
            transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.button-border:hover,
.button-border:active {
    color: #FF6600;
    border-color: #FF6600;
    text-decoration: none;
    -webkit-transition: border-color 0.4s ease-in, color 0.4s ease-in;
            transition: border-color 0.4s ease-in, color 0.4s ease-in;
}

.button-border-black:hover,
.button-border-black:active {
    color: #FF6600;
    border-color: #FF6600;
    text-decoration: none;
    -webkit-transition: border-color 0.4s ease-in, color 0.4s ease-in;
            transition: border-color 0.4s ease-in, color 0.4s ease-in;
}

.button-size:hover,
.button-size:active {
    width: 220px;
    padding: 10px 12px;
    text-decoration: none;
    -webkit-transition: width 0.1s ease-in, padding 0.1s ease-in;
            transition: width 0.1s ease-in, padding 0.1s ease-in
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */
#headerwrap {
    background: url(../img/back.jpg) no-repeat;
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    background-attachment: fixed;
    background-position: center top;
    min-height: 650px;
    width: 100%;
    background-size: 100%;
    background-size: cover;
}

#headerwrap h1 {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}

#headerwrap h4 {
    font-weight: 400;
    color: #ffffff
}

#headerwrap span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.resume {
    margin: 30px 0 10px 0;
}

#social {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
}

#social i {
    font-size: 40px;
    padding: 10px 0;
    color: #4a4a4a;
    transition: color 0.2s ease-out, color 0.2s ease-out;
}

#social i:hover {
    color: #ff6600;
    /*#1abc9c*/
    transition: color 0.2s ease-in, color 0.2s ease-in;
}

.socialicon {
    border: 1px solid #333;
}

#footerwrap {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #2f2f2f;
}

#footerwrap p,
#footerwrap a {
    color: #f2f2f2;
    margin-left: 10px;
    transition: color 0.2s ease-out, color 0.2s ease-out;
}

#footerwrap a:hover {
    color: #ff6600;
    text-decoration: none;
    transition: color 0.2s ease-out, color 0.2s ease-out;
}
#footerwrap #icon-credit {
    color: #6f6f6f;
    font-size: 0.5em;
}
#footerwrap #icon-credit a {
    margin-left: 0;
    color: #6f6f6f;
}

#workwrap {
    background: url(../img/work.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}

#workwrap h4 {
    font-weight: 400;
    color: #ffffff
}

#aboutwrap {
    background: url(../img/about-cl.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    background-attachment: relative;
    background-position: center top;
    min-height: 550px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Gallery */
.gallery {
    margin-top: 30px;
    opacity: 1.0;
    transition: opacity 0.3s ease-out, color 0.3s ease-out;
}

/* Gallery Title */
.gallery h3 {
    /*display:none;*/
    opacity: 0;
    position: absolute;
    bottom: 40%;
    left: 40%;
    font-size: 2em;
    transition: opacity 0.3s ease-out;
}

.gallery a:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease-in, color 0.3s ease-in;
}

/* Gallery Title Hover Display */
.gallery:hover h3 {
    /*display:block;*/
    opacity: 1.0;
    transition: opacity 0.3s ease-in;
}

/* ========================== Portfolio ========================== */
.img-responsive {
    border: 3px solid #efefef;
}

/* ========================== Skills Styles ====================== */
.skillbar {
    height: 45px;
    position: relative;
    background: rgba(108, 122, 137, 1);
    margin: 20px 0;
}

.skill-area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    text-shadow: none;
    color: #fff;
}

.percent-text {
    z-index: 3;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-size: 1em;
}


/* HTML/CSS */
#skill-html {
    width: 90%;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    animation: Animate-HTML 4s;
    height: 45px;
    position: absolute;
    background-color: #F9690E;
}

@-moz-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}

@-webkit-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}

@-o-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}

@keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}


/* JS-jQuery */
#skill-js {
    width: 70%;
    -webkit-animation: Animate-JS 5s;
    -moz-animation: Animate-JS 5s;
    -o-animation: Animate-JS 5s;
    animation: Animate-JS 5s;
    height: 45px;
    position: absolute;
    background-color: #446CB3;
}

@-webkit-keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}

@-moz-keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}

@-o-keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}

@keyframes Animate-JS {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}


/* Responsivenes */
#skill-res {
    width: 75%;
    -webkit-animation: Animate-RES 3s;
    -moz-animation: Animate-RES 3s;
    -o-animation: Animate-RES 3s;
    animation: Animate-RES 3s;
    height: 45px;
    position: absolute;
    background-color: #66CC99;
}

@-webkit-keyframes Animate-RES {
    from {
        width: 10px;
    }
    to {
        width: 75%;
    }
}

@-moz-keyframes Animate-RES {
    from {
        width: 10px;
    }
    to {
        width: 75%;
    }
}

@-o-keyframes Animate-RES {
    from {
        width: 10px;
    }
    to {
        width: 75%;
    }
}

@keyframes Animate-RES {
    from {
        width: 10px;
    }
    to {
        width: 75%;
    }
}


/* WordPress */
#skill-wp {
    width: 65%;
    -webkit-animation: Animate-WP 4.5s;
    -moz-animation: Animate-WP 4.5s;
    -o-animation: Animate-WP 4.5s;
    animation: Animate-WP 4.5s;
    height: 45px;
    position: absolute;
    background-color: #85c440;
}

@-webkit-keyframes Animate-WP {
    from {
        width: 10px;
    }
    to {
        width: 65%;
    }
}

@-moz-keyframes Animate-WP {
    from {
        width: 10px;
    }
    to {
        width: 65%;
    }
}

@-o-keyframes Animate-WP {
    from {
        width: 10px;
    }
    to {
        width: 65%;
    }
}

@keyframes Animate-WP {
    from {
        width: 10px;
    }
    to {
        width: 65%;
    }
}


/* Git/Version Control */
#skill-vc {
    width: 70%;
    -webkit-animation: Animate-VC 2s;
    -moz-animation: Animate-VC 2s;
    -o-animation: Animate-VC 2s;
    animation: Animate-VC 2s;
    height: 45px;
    position: absolute;
    background-color: #2796db;
}

@-webkit-keyframes Animate-VC {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}

@-moz-keyframes Animate-VC {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}

@-o-keyframes Animate-VC {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}

@keyframes Animate-VC {
    from {
        width: 10px;
    }
    to {
        width: 70%;
    }
}


/* Angular */
#skill-ng {
    width: 40%;
    -webkit-animation: Animate-NG 3.5s;
    -moz-animation: Animate-NG 3.5s;
    -o-animation: Animate-NG 3.5s;
    animation: Animate-NG 3.5s;
    height: 45px;
    position: absolute;
    background-color: #E50000;
}

@-webkit-keyframes Animate-NG {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}

@-moz-keyframes Animate-NG {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}

@-o-keyframes Animate-NG {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}

@keyframes Animate-NG {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}


/* SEO */
#skill-seo {
    width: 90%;
    -webkit-animation: Animate-SEO 1.5s;
    -moz-animation: Animate-SEO 1.5s;
    -o-animation: Animate-SEO 1.5s;
    animation: Animate-SEO 1.5s;
    height: 45px;
    position: absolute;
    background-color: #0be51c;
}

@-webkit-keyframes Animate-SEO {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}

@-moz-keyframes Animate-SEO {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}

@-o-keyframes Animate-SEO {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}

@keyframes Animate-SEO {
    from {
        width: 10px;
    }
    to {
        width: 90%;
    }
}


/* Photography */
#skill-ph {
    width: 100%;
    -webkit-animation: Animate-PHOTO 1s;
    -moz-animation: Animate-PHOTO 1s;
    -o-animation: Animate-PHOTO 1s;
    animation: Animate-PHOTO 1s;
    height: 45px;
    position: absolute;
    background-color: #F0E70F;
}

@-webkit-keyframes Animate-PHOTO {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}

@-moz-keyframes Animate-PHOTO {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}

@-o-keyframes Animate-PHOTO {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}

@keyframes Animate-PHOTO {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}


/* Agile Development */
#skill-agile {
    width: 40%;
    -webkit-animation: Animate-AGILE 2s;
    -moz-animation: Animate-AGILE 2s;
    -o-animation: Animate-AGILE 2s;
    animation: Animate-AGILE 2s;
    height: 45px;
    position: absolute;
    background-color: #db3a27;
}

@-webkit-keyframes Animate-AGILE {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}

@-moz-keyframes Animate-AGILE {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}

@-o-keyframes Animate-AGILE {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}

@keyframes Animate-AGILE {
    from {
        width: 10px;
    }
    to {
        width: 40%;
    }
}


/* Digital Publishing */
#skill-digpub {
    width: 50%;
    -webkit-animation: Animate-DIGPUB 4s;
    -moz-animation: Animate-DIGPUB 4s;
    -o-animation: Animate-DIGPUB 4s;
    animation: Animate-DIGPUB 4s;
    height: 45px;
    position: absolute;
    background-color: #66CC99;
}

@-webkit-keyframes Animate-DIGPUB {
    from {
        width: 10px;
    }
    to {
        width: 50%;
    }
}

@-moz-keyframes Animate-DIGPUB {
    from {
        width: 10px;
    }
    to {
        width: 50%;
    }
}

@-o-keyframes Animate-DIGPUB {
    from {
        width: 10px;
    }
    to {
        width: 50%;
    }
}

@keyframes Animate-DIGPUB {
    from {
        width: 10px;
    }
    to {
        width: 50%;
    }
}


/* Learning */
#skill-learn {
    width: 100%;
    -webkit-animation: Animate-LEARN 1s;
    -moz-animation: Animate-LEARN 1s;
    -o-animation: Animate-LEARN 1s;
    animation: Animate-LEARN 1s;
    height: 45px;
    position: absolute;
    background-color: #0076ff;
}

@-webkit-keyframes Animate-LEARN {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}

@-moz-keyframes Animate-LEARN {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}

@-o-keyframes Animate-LEARN {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}

@keyframes Animate-LEARN {
    from {
        width: 10px;
    }
    to {
        width: 100%;
    }
}


/* Animation Time - Text Fade in Time */
.fadeIn-3s {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}


/* Animation Delay - Text Fade Time delayed */
.fadeIn-Delay-3s {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
}


/* CSS3 fadeIn
---------------------------------------------------- */
.fadeIn {
    /* CSS needed for animation
	---------------------------------------------------- */
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    -o-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-3s {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}

.fadeIn-5s {
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
}


/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-3s {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
}

.fadeIn-Delay-5s {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}


/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ============== Back to Top ====================== */
.cl-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    /*replace image*/
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(255, 102, 0, 0.8) url(../img/top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cl-top.cl-is-visible,
.cl-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cl-top.cl-is-visible {
    visibility: visible;
    opacity: 1;
}

.cl-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cl-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    #headerwrap {
        padding-top: 170px;
    }
}

@media only screen and (min-width: 768px) {
    .cl-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cl-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
