@media all and (max-width: 770px) {
    .nav-link {
        opacity: 0;
    }

    .navBar {
        height: 50px;
    }

    .navBar .nav-name {
        width: 100%;
        margin-left: 0;
        padding-top: 0;
    }

    .navBar .nav-name > a {
        font-size: 36px;
    }
}

.navBar {
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #f1f1f1;
    z-index: 500;
  }

  .nav-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    float: right;
  }

  .nav-last {
    margin-right: 60px;
  }

  .nav-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 36px;
    display: block;
    margin-left: 60px;
    color: #000;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    float: left;
  }

  .nav-name > a {
      text-decoration: none;
      color: #222;
  }

  .nav-link {
    display: block;
    color: #666;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .nav-link:hover:not(.active) {
    background-color: #ff6600;
    color: #ffffff;
  }

  .nav-link.active {
    color: white;
    background-color: #ff6600;
  }

  .nav-link:focus {
    color: white;
    background-color: #ff6600;
  }

